<!DOCTYPE html>
<html ng-app="myApp" ng-controller="MainController">
    <head>
      <meta charset='utf-8'>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="format.css">
      <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
      <script src="format.js"></script>
      <title>iTunes Player</title>
    </head>
    <header>
      <div id='cssmenu' class="align-center">
        <ul>
         <li><a href='#'><span>Music</span></a></li>
         <li><a href='#'>
           <div class="searchBox">
             <input ng-model="searchTerms"/>
             <button ng-click="search()">Search</button>
           </div>
         </a></li>
        </ul>
      </div>
      <div id='cssmenu' class="align-center">
        <ul>
          <li class='last'><a href='#'><span>
            <audio ng-src="{{audioLink | trusted}}" autoplay controls></audio><br><br>
            <small><i>{{playing_song}}</i></small>
          </span></a></li>
        </ul>
      </div>
    </header>
    <body>
      <div class="container">
        <div id="results">
            <center>
              <h3>{{message}}</h3>
              <h2>{{ currentSearch }}</h2>
              <h3>{{message_part_2}}</h3>
              <h4><i>{{message_part_3}}</i></h4>
            </center>
            <div ng-repeat="res in results" class="section group">
              <div class="col span_1_of_3">
                      <a ng-click="play(res)"><img src="{{ res.artworkUrl100}}"></a>
              </div>
              <div class="col span_2_of_3">
                  <center>
                    <h2>{{ res.trackName }}</h2>
                    <h3>{{ res.artistName}}</h3>
                    <i>{{ res.collectionName}}</i><br><br>
                  </center>
              </div>
            </div>

        </div>

      </div>
        <script>
            var ITUNES_SEARCH_URL = 'https://itunes.apple.com/search?term=<<SEARCH_TERMS>>&media=music&entity=musicTrack&callback=JSON_CALLBACK';

            var app = angular.module("myApp",[]);

            app.controller('MainController',['$scope','$http',function($scope, $http){
                $scope.currentSearch = '';
                $scope.message='Waiting for your search!';
                $scope.message_part_2='';
                $scope.message_part_3='';
                $scope.playing_song='';

                $scope.search = function(){
                    $scope.currentSearch = $scope.searchTerms;
                    $scope.message = 'You were looking for songs related to:';
                    $scope.message_part_2 = 'and we found these results... ';
                    $scope.message_part_3 = 'Click on the artwork to play the song!';

                    var xhr = $http.jsonp(ITUNES_SEARCH_URL.replace("<<SEARCH_TERMS>>", $scope.searchTerms));
                    xhr.success(function(response){
                        $scope.results = response.results;
                    });
                }

                $scope.play = function(item){
                  $scope.audioLink = item.previewUrl;
                  $scope.playing_song=item.trackName+' - '+item.artistName;
                }
            }]);
            app.filter('trusted', ['$sce', function ($sce) {
                return function(url) {
                    return $sce.trustAsResourceUrl(url);
                };
            }]);
        </script>
   </body>
</html>
